/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";

body {
  font-family: 'Open Sans';
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}

