// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-header {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  color: white;
  h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.498039) 2px 3px 6px;
  } 
  input {
    margin: auto;
    margin-top: 20px;
    border-bottom-color: rgb(85, 85, 85);
    border-bottom-left-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(85, 85, 85);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(85, 85, 85);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(85, 85, 85);
    border-top-left-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(85, 85, 85);
    display: block;
    font-size: 17px;
    height: 54px;
    line-height: 24.2857px;
    max-width: 100%;
    outline-color: rgb(85, 85, 85);
    padding-bottom: 0px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0px;
    position: relative;
    transition-property: none;
    width: 702px;
    z-index: 2;
    -webkit-appearance: none;
    -webkit-column-rule-color: rgb(85, 85, 85);
    -webkit-text-emphasis-color: rgb(85, 85, 85);
    -webkit-text-fill-color: rgb(85, 85, 85);
    -webkit-text-stroke-color: rgb(85, 85, 85);
  }
}

.events-list {
    margin-top: 20px;
    padding: 30px 150px;
    background-color: $gray-lighter;
    .card {
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
        &:hover {
            box-shadow: 0 0 8px $gray;
            transition: 0.5s;
        }
        .card-title {
            font-size: 18px;
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
        color: $gray-dark;
    }
}

.events-detail {
    .sidebar {
        padding-top: 80px;
        color: rgb(233, 237, 240);
        background-color: #303B46;
        float: left;
        position: fixed;
        min-height: 700px;
        height: 100%;
        p {
            text-align: center;
            text-transform: uppercase;
            font-size: larger;
            font-family: 'serif';
            i.fa {
                font-size: 30px;
            }
        }
        .ticket-list {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 14px;
            button {
                margin-top: 40px;
            }
            .price {
                font-weight: bold;
                font-size: 18px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    .event-content {
        float: right;
        h3 {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 30px;
        }
        .hero-img {
            min-height: 400px;
        }
        .container {
            margin-left: 50px;
            margin-top: 30px;
            .time-details, .venue-details {
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .img-spacer {
                text-align: center;
                margin: 60px;
            }
            .extended-description {
                margin-top: 20px;
            }
        }
    }
}
